<div class="tab">
  <section class="about">
    <h2>Hi this is Jonas!</h2>
      Jonas has a deep love for web technology and acts as an interface between customers and teams. He was always fascinated by the different aspects of digital products paired with a hands-on-mentality: He coded by himself, lead development teams, created concepts for web applications, traveled to international customers, supported the sales team in pitches, held workshops with clients and brought new products to life.
      He strongly believes in improving as a team and that the things you accomplish together are more important than someone's title on a business card.
    </p>
    <p>
      Jonas has a bachelor's degree in digital media and has worked for software companies and agencies since 2006 as web developer, digital media consultant and technical product manager.
    </p>
    <p>
      He lives on the cutting edge between killing all humans* and building great stuff with nice people (this occasionally happens in his work).</p>
    <p>
    <p><small>* “Kill all humans” is a lovely catchphrase of Bender Bending Rodriguez which first appeared S1E3 of the comic series Futurama.</small></p>
    <p>
      If you want to get in touch, simply drop him an <a href="mailto:jk@devicezero.de">email</a> or send him a tweet <a href="https://twitter.com/jonaskroeger">@jonaskroeger</a>.
    </p>

  </section>
</div>
